* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #472f1d;
}

a {
  text-decoration: none;
  color: #2769b5;
}

/* Header area */

.padding-nav {
  padding: 16px 10%;
}

.container {
}

.container .nav {
  background-color: #472f1d7c;
  border-bottom: 1px solid #472f1d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .nav img {
  height: 50px;
}

.container .nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container .nav ul li {
  display: inline-block;
  margin-right: 16px;
}

.container .nav ul li:last-child {
  margin-right: 0;
}

.container .nav ul li a {
  padding: 4px 8px;
  color: #472f1d;
}

.container .nav ul li a:hover {
  border-bottom: 1px solid #472f1d;
}

.bg-image {
  height: 300px;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  position: relative;
}

.absolute-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-image h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-shadow: #472f1d 1px 0 10px;
}

.bg-image p {
  margin: 0;
}

/* Footer area */

.padding-footer {
  padding: 16px 10%;
}

.footer {
  border-top: 1px solid #000;
  background-color: #fff;
}

.footer div.flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #a2a2a2;
  font-weight: 200;
  margin: 0;
  background-color: #f2f2f2;
}

.footer .footer-logo {
  width: 50%;
  font-size: 14px;
}

.footer .footer-col {
  height: 100%;
}

.footer .footer-col a {
  display: block;
}

.footer .footer-col p {
  margin-bottom: 16px;
}

.footer .footer-col i {
  margin-right: 8px;
}

.footer .footer-logo img {
  width: 120px;
}

.footer .copyright {
  padding: 18px 10%;
}
