.img-sp {
  width: 250px;
}

.main-sp {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 80%;
  margin: 48px auto;
}

.img-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
